<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Blaha"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <title>BlahaQuiz</title>
</head>
<body>
<div id="mainlogo">
    <h1><a href="/">BlahaQuiz</a></h1>
</div>
<div id="mainContent">
    <div id="about">
        <div id="upper">It`s a quiz about life.
            Only the top 0.0001% can ace this test.
            It`s all about Blaha and friends, and a bit of programming
        </div>
        <div id=""><h2>How to:</h2>
            <h3>When you press start, your game will start,
                then you have to select the right answer and click on it.
                Then after a few sec you will see the <span style="font-weight: bold">right answer: green background</span>
                and the <span style="font-weight: bold">wrong answer: red background.</span></h3>

            <h1 id="startButton">
                <a>
                    Have fun !
                </a>
            </h1>
        </div>
    </div>

</div>
<script type="module" src="/static/js/quiz.js"></script>
</body>
</html>