<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Blaha"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <title>BlahaQuiz</title>
</head>
<body>
    <div id="content">
        <div id="question_box">
            <h1>What does 'fail fast' mean in terms of exception handling? Why is it a good practice?</h1>
        </div>
        <div id="answer_box">
            <p>
                It means that when a problem occures, it fails immediately.
                Check system`s state at several points, so failures can be detected early.
            </p>
            <p>
                It means you cryin in the corner while choking yourself and masturbate to your grandma`s picture.
            </p>
            <p>
                Idk just need lorem lorem lorem lorem lorem lorem.
            </p>
            <p>
                Most csinalta meg a csoves es nem erti.
            </p>
        </div>
    </div>

</body>
</html>