<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Blaha"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <script type="module" src="/static/js/main.js"></script>
    <script type="module" src="/static/js/quiz.js"></script>

    <title>BlahaQuiz</title>
</head>
<body>
    <div id="logo">
        <h1 id="head"><a href="/">BlahaQuiz</a></h1>
    </div>
    <div id="content">
        <div id="question_box">
            <h1>What does 'fail fast' mean in terms of exception handling? Why is it a good practice?</h1>
        </div>
        <div id="answer_box">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

</body>
</html>