body, html {
    height: 100%;
}

body {
    background-color: #b94725;
}

#logo {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-image: url("static/img/style/mostblahamoment.jpg");
    background-size: 200px 200px;
    background-repeat: repeat;
}

#head{
    font: 200 50px/1.5 'Pacifico', Helvetica, sans-serif;
}

#head a {
    color: red;
    text-decoration: none;
    text-shadow: 3px 3px yellow;
    -webkit-text-stroke: 2px black;
}

#head a:hover {
    text-decoration: none;
    color: yellow;
    text-shadow: 5px 5px red;
    cursor: crosshair;
}

/*QUIZ*/

#content {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

#question_box {
    text-align: center;
    background-color: red;
}

#answer_box{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    text-align: center;
    background-color: yellow;
}

/*QUIZ*/
/*HOME*/

#startBtn{
    background-color: black;
    color: white;
    padding: 15px;
}

#startButton #startBtn :hover {
    background-color: yellow;
    color: red;
}

#startButton{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 50px;
}

#mainContent{
    text-align: center;
    display: grid;
}

#about{

}

/*HOME*/



